html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: #e9e9e9;
}

.main-wrapper {
    width: 1140px;
    height: 540px;
}

/*CertificationCode*/

#CertificationCode {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 210px);
    min-height: calc(100vh - 90px);
    max-height: calc(100vh - 60px);
}

#code_box1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px #c3c3c3; 
    width: 500px;
    height: 420px;
    background-color: #4b6584;
    color: white;
    text-align: center;
    font-size: 30PX;
    line-height:200%;
}

#code_box1 > h4 {
    margin: 10px;
    font-size: 35px;
}

#code_box2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 350px;
    background-color: white;
    color: #4b6584;
    border-radius: 10px;
    box-shadow: 2px 2px #c3c3c3;
    font-size: 28px;
    line-height:200%;
}

#code_key {
    font-size: 35px;
}

/*grade*/

#grade_wrapper {
    width: 1000px;
    height: 520px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3;
}

#result_header {
    display: inline-flex;
    width: calc(95% - 15px);
    height: 60px;
    margin: 2% 2.5% 0 2.5%;
    border-bottom: 4px solid #7d7e7e;
    padding-left: 15px; 
    color: #4b6584;
}

#result_title {
    margin-right: auto;
    font-size: 40px;
}

#result_title_right {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0 auto auto;
    border-radius: 15px;
    cursor: pointer;
    transition: color 1s, background-color 1s;
}

#result_title_right:hover {
    color: #4b7584;
    background-color: #f0f0f0;
}

#result_title_right > div {
    font-size: 50px;
}

#result_main {
    display: inline-flex;
    flex-direction: row;
    width: calc(100% - 40px);
    height: calc(100% - 98px);
    padding: 10px 20px 10px 20px;
}

#result_main > div {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(25% - 10px);
    height: calc(100% - 40px);
}

.result_main_circles{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #4b6584;
    color: white;
    font-size: 20px;
    line-height:150%;
}

.result_main_circles > div {
    text-align: center;
}

.result_main_circles > div > p {
    display: inline-block;
}

#result_circle_1 {
    background:linear-gradient( to bottom, #ffeb8f, #ffda8f );
}

#result_circle_2 {
    background:linear-gradient( to bottom, #a4a6e6, #a4cfe6 );
}

#result_circle_3 {
    background:linear-gradient( to bottom, #ce96eb, #9f82e1 );
}

#result_circle_4 {
    background:linear-gradient( to bottom, #87df91, #a2e5a9 );
}

.stairs {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    border-top: 10px solid #ff9e9c;
    border-bottom: 10px solid #ff9e9c;
    width: 100%;
    height: 45%;
    background-color: #fff5f5;
    color: #ffb49c;
    font-size: 100px;
}

#stairs_1 {
    height: 60%;
    border-left: 10px solid #ff9e9c;
}

#stairs_3 {
    height: 30%;
    border-right: 10px solid #ff9e9c;
}

/*situation*/

#situation_wrapper {
    width: 1000px;
    height: 520px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3;
}

#situation_header {
    display: inline-flex;
    width: calc(95% - 15px);
    height: 60px;
    margin: 2% 2.5% 0 2.5%;
    border-bottom: 4px solid #7d7e7e;
    padding-left: 15px; 
    color: #4b6584;
}

#situation_title {
    margin-right: auto;
    font-size: 40px;
}

#situation_title_right {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0 auto auto;
    border-radius: 15px;
    cursor: pointer;
    transition: color 1s, background-color 1s;
}

#situation_title_right:hover {
    color: #4b7584;
    background-color: #f0f0f0;
}

#situation_title_right > div {
    font-size: 50px;
}

#situation_main {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 40px);
    height: calc(100% - 98px);
    padding: 10px 20px 10px 20px;
}

#situation_main > div {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: calc(25% - 10px);
}

.situation_club {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 37.5px;
    width: 150px;
    height: 75px;
    background-color: #4b6584;
    color: white;
    font-size: 20px;
}

#situation_club_1, #situation_club_3, #situation_club_8, #situation_club_14 {
    background: linear-gradient( to right, #ca95ea, #c894e9 );
}

#situation_club_7, #situation_club_11, #situation_club_9,#situation_club_16 {
    background: linear-gradient( to bottom, #c2c2c2, #d3d3d3 );
}

#situation_club_4, #situation_club_5, #situation_club_10, #situation_club_13 {
    background: linear-gradient( to left, #a4a6e6, #a4cde6 );
}

#situation_club_2, #situation_club_6, #situation_club_12, #situation_club_15 {
    background: linear-gradient( to bottom, #89df92, #a1e5a9 );
}

#create_game_done {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 18.5;
    border-radius: 10px;
    width: 65%;
    height: 50%;
    background-color: white;
    box-shadow: 2px 2px #c3c3c3;
}

#create_game_done_title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #7d7e7e;
    padding: 10px 0;
    width: 90%;
    height: 15%;
    color: #4b6584;
    font-size: 35px;
}

#create_game_done_main {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - 15%);
    color: #4b6584;    
}

#create_game_done_main > div {
    font-size: 50px;
}

#create_game_done_main > div > p {
    display: inline-block;
}

#create_game_done_button {
    border-radius: 10px;
    border: 0px;
    width: 30%;
    height: 25%;
    background-color: #ffc19c;
    color: white;
    font-size: 30px;
    box-shadow: 0 2px #c3c3c3;
}

#booth_wrapper {
    width: 1000px;
    height: 520px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3;
}

#booth_header {
    display: inline-flex;
    width: calc(95% - 15px);
    height: 60px;
    margin: 2% 2.5% 0 2.5%;
    border-bottom: 4px solid #7d7e7e;
    padding-left: 15px; 
    color: #4b6584;
}

#booth_title {
    font-size: 40px;
}

#booth_main {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 40px);
    height: calc(100% - 98px);
    padding: 10px 20px 10px 20px;
}

#booth_main > div {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: calc(100% - 40px);
    height: calc(25% - 10px);
}

#booth_main > div > div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    width: 25%;
    height: 100%;
}

#booth_main > div > div > input {
    display: inline-block;
    position: absolute;
    margin: 0 0 80px 70px;
    border-radius: 5px;
    border: 2px solid #707070;
    width: 50px;
    height: 15px;
    color: #4b6584;
    text-align: center;
}

.booth_main_textBox {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto 0;
    border-radius: 10px;
    border: 2px solid #707070;
    width: 90%;
    height: 85%;
    color: #4b6584;
    box-shadow: 2px 2px #b3b3b3;
}

.booth_main_textBox > input {
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #707070;
    width: 90%;
    height: 40%;
    background-color: rgba( 255, 255, 255, 0 );
    font-size: 20px;
}

#view_question {
    border: 4px solid #939393;
    border-radius: 10px;
    width: 15%;
    height: 40%;
    background-color: rgba( 255, 255, 255, 0 );
    color: #4b6584;
    font-size: 20px;
}

#goto_creat_game {
    border: 0;
    border-radius: 10px;
    width: 21%;
    height: 40%;
    background-color: #ffc19c;
    color: white;
    font-size: 23px;
}

#qrCode_downlode {
    border: 4px solid #ffc19c;
    border-radius: 10px;
    width: 20%;
    height: 40%;
    background-color: rgba( 255, 255, 255, 0 );
    color: #4b6584;
    font-size: 15px;
}

#createGame_wrapper {
    width: 1000px;
    height: 520px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3;
}

#createGame_header {
    display: inline-flex;
    width: calc(95% - 15px);
    height: 60px;
    margin: 2% 2.5% 0 2.5%;
    border-bottom: 4px solid #7d7e7e;
    padding-left: 15px; 
    color: #4b6584;
}

#createGame_title {
    font-size: 40px;
}

#createGame_main {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 40px);
    height: calc(100% - 98px);
    padding: 10px 20px 10px 20px;
}

#createGame_main_top {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
}

#createGame_main_middle {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

#createGame_main_bottom {
    width: 100%;
    height: 20%;
}

#goto_myQuestion {
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    border: 5px solid #959595;
    width: 200px;
    height: 40px;
    background-color: white;
    color: #4b6584;
}

#createGame_main_top > div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 25px;
    border-radius: 10px;
    border: 2px solid #ced6df;
    padding: 12px;
    width: calc(100% - 24px);
    height: 85%;
}

#createGame_main_top > div > div {
    width: 100px;
    height: 100%;
}

.createGame_top_boothName {
    position: absolute;
    display: inline-flex;
    align-items:center;
    justify-content: center; 
    margin: 10px 0 0 10px;;
    border-radius: 5px;
    width: 70px;
    height: 20px;
    background-color: #ffc19c;
    color: white;
    font-size: 12px;
}

.createGame_top_question {
    margin-top: 20px; 
    border-radius: 10px;
    border: 2px solid #ffc19c;
    padding: 10px 5px 0 5px;
    width: 200px;
    height: 90px;
    overflow-y: scroll;
    word-break:break-all;
}

#createGame_main_middle > div{
    display: inline-flex;
    flex-direction: column;
    align-items: center; 
    height: 90%;
    width: 40%;
}

#createGame_main_middle > div > div:nth-child(1) {
    display: inline-flex;
    justify-content: space-between;    
    border-bottom: 2px solid #a9a9a9;
    width: 90%;
    height: 30%;
    color: #4b6584;
    font-size: 30px;
}

.goto_userControl {
    font-size: 40px;
}

#createGame_main_middle > div > div > p {
    display: inline-block;
}

#createGame_main_middle > div > div:nth-child(2) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    color: #4b6584;
    font-size: 30px;
}

#createGame_main_middle > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
    display: inline-flex;
    flex-direction: column;
}

#userControl_wrapper {
    width: 1000px;
    height: 520px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3;
}

#userControl_header {
    display: inline-flex;
    width: calc(95% - 15px);
    height: 60px;
    margin: 2% 2.5% 0 2.5%;
    border-bottom: 4px solid #7d7e7e;
    padding-left: 15px; 
    color: #4b6584;
}

#userControl_title {
    font-size: 40px;
}

#userControl_main {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 40px);
    height: calc(100% - 98px);
    padding: 10px 20px 10px 20px;
    color: #4b6584;
}

#userControl_main_top {
    width: 50%;
    height: 40%;
}

#userControl_main_middle {
    width: 50%;
    height: 45%;
}

#userControl_main_bottom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

#userControl_main > div > div:nth-child(1) {
    border-bottom: 2px solid #a9a9a9;
    padding: 5px 0 20px 40px;
    width: calc(100% - 40px);
    height: calc(25% - 25px);
    font-size: 25px;
}

#userControl_main > div > div:nth-child(2) {
    padding: 5px 0 0 40px;
    font-size: 30px;
}

#userControl_countTeam {
    min-width: 50px;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 30px;
}

#userControl_main_middle > div > div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 850px;
}

#userControl_main_middle > div > div > input {
    margin: 0 2px;
    width: 40px;
    height: 60px;
    text-align: center;
    font-size: 30px;
}

#userControl_main_middle > div > div > p {
    margin: 0 10px;
    display: inline-block;
    font-size: 40px;
}

#userControl_submit {
    border: 0;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: #ffc19c;
    color: white;
    font-size: 30px;
}

#multipleQuizSubmit_wrapper {
    width: 1000px;
    height: 520px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3;
}

#multipleQuizSubmit_header {
    display: inline-flex;
    width: calc(95% - 15px);
    height: 60px;
    margin: 2% 2.5% 0 2.5%;
    border-bottom: 4px solid #7d7e7e;
    padding-left: 15px; 
    color: #4b6584;
}

#multipleQuizSubmit_title {
    font-size: 40px;
}

#multipleQuizSubmit_main {
    display: inline-flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    width: calc(100% - 40px);
    height: calc(100% - 98px);
    color: #4b6584;
}

#multipleQuizSubmit_main_top {
    width: 100%;
    height: 40%;
}

#multipleQuizSubmit_valueSubmit {
    display: inline-block;
    border: 2px solid #707070;
    border-radius: 10px;
    width: 97%;
    height: 97%;
    color: black;
    font-size: 20px;
    text-align: start;
    overflow-y: scroll;
    word-break: break-all;
    resize: none;
}

#multipleQuizSubmit_main_middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "a b"
    "c d";
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}

#multipleQuizSubmit_main_middle > div {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 2px solid #707070;
    border-radius: 10px;
    width: 90%;
    height: 50%;
}

#multipleQuizSubmit_main_middle > div:nth-child(1) {
    grid-area: a;
}

#multipleQuizSubmit_main_middle > div:nth-child(2) {
    grid-area: b;
}

#multipleQuizSubmit_main_middle > div:nth-child(3) {
    grid-area: c;
}

#multipleQuizSubmit_main_middle > div:nth-child(4) {
    grid-area: d;
}

#multipleQuizSubmit_main_middle > div > p {
    display: inline-block;
    margin: 2px 0;
    border-right: 2px solid #707070;
    width: 6%;
    height: 90%;
    font-size: 25px;
    text-align: center;
}

#multipleQuizSubmit_answer_1, #multipleQuizSubmit_answer_2, #multipleQuizSubmit_answer_3, #multipleQuizSubmit_answer_4 {
    border: 0;
    width: 94%;
    height: 100%;
    background-color: rgba( 255, 255, 255, 0 );
    font-size: 20px;
}

#multipleQuizSubmit_main_bottom {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

#multipleQuiz_submit {
    border: 0;
    border-radius: 10px;
    width: 20%;
    height: 60%;
    background-color: #ffc19c;
    color: white;
    font-size: 25px;
}

#quizSubmit_wrapper {
    width: 1000px;
    height: 520px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px #c3c3c3;
}

#quizSubmit_header {
    display: inline-flex;
    width: calc(95% - 15px);
    height: 60px;
    margin: 2% 2.5% 0 2.5%;
    border-bottom: 4px solid #7d7e7e;
    padding-left: 15px; 
    color: #4b6584;
}

#quizSubmit_title {
    font-size: 40px;
}

#quizSubmit_main {
    display: inline-flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    width: calc(100% - 40px);
    height: calc(100% - 98px);
    color: #4b6584;
}

#quizSubmit_main > div:nth-child(1) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

#quizSubmit_main > div:nth-child(2) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
}

#goto_multipleQuiz, #goto_oxQuiz {
    border: 0;
    border-radius: 10px;
    width: 25%;
    height: 60%;
    background-color: #ffc19c;
    color: white;
    font-size: 20px;
    transition: opacity 0.5s;
}

#goto_oxQuiz:hover {
    opacity: 0;
}

#quizSubmit_myQuizzes_title {
    z-index: 11;
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    border: 5px solid #959595;
    padding-top: 0.4%;
    width: 20%;
    height: calc(7% - 0.4%);
    background-color: white;
    color: #4b6584;
    font-size: 30px;
    text-align: center;
}

#quizSubmit_myQuizzes_box {
    margin-top: 4%;
    border: 2px solid #7087a4;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

#quizSubmit_myQuizzes_box > div {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: calc(100% / 3 - 5px);
    height: 220px;
}

.quizSubmit_myQuizzes_type {
    z-index: 10;
    position: absolute;
    margin: 20px 0 0 40px;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    background-color: #ffc19c;
    color: white;
    font-size: 17px;
    text-align: center;
}

.quizSubmit_myQuizzes {
    display: inline-block;
    margin: 10%;
    border: 2px solid #ffc19c;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    width: calc(80% - 20px);
    height: calc(80% - 10px);
    font-size: 20px;
    overflow-y: scroll;
    word-break:break-all;
}

#mainPage_wrapper {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#mainPage_1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

#mainPage_2 {
    display: inline-flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

#mainPage_2_1 {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

#mainPage_2_2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
}

#mainPage_gotoQuizSubmit_wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    height: 95%;
    background-color: white;
    box-shadow: 2px 2px #c3c3c3;
}

#mainPage_gotoUserControl_wrapper, #mainPage_gotoBooth_wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 35%;
    height: 80%;
    background-color: white;
    box-shadow: 2px 2px #c3c3c3;
}

#mainPage_situationResult_wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: 2px 2px #c3c3c3;
}

#mainPage_gotoSituration_wrapper, #mainPage_gotoResult_wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

#mainPage_gotoQuizSubmit_title, #mainPage_gotoUserControl_title, #mainPage_gotoBooth_title, #mainPage_gotoSituration_title, #mainPage_gotoResult_title {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 60px;
    border-bottom: 3px solid #7d7e7e;
    color: #4b6584;
    font-size: 30px;
}

#mainPage_gotoQuizSubmit_wrapper > div:nth-child(2) {
    position: relative;
    width: 100%;
    height: calc(50% - 30px);
}

#mainPage_gotoQuizSubmit_wrapper > div:nth-child(3) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc(50% - 30px);
}

#mainPage_gotoQuizSubmit_button {
    position: absolute;
    margin: 4% 0 0 17%;
    border-radius: 10px;
    width: 65%;
    height: 18%;
    background-color: #ffc19c;
    color: white;
    font-size: 23px;
    text-align: center;
}

#mainPage_gotoQuizSubmit_myQuiz {
    display: inline-block;
    margin: calc(10% - 2px);
    border: 2px solid #ffc19c;
    border-radius: 10px;
    padding: 20px 10px 0 10px;
    width: calc(80% - 20px);
    height: calc(70% - 20px);
    font-size: 20px;
    overflow-y: scroll;
    word-break:break-all;
}

#mainPage_gotoMultipleQuiz, #mainPage_gotoOxQuiz {
    border: 0;
    border-radius: 10px;
    width: 80%;
    height: 20%;
    background-color: #ffc19c;
    color: white;
    font-size: 25px;
    text-align: center;
}

#mainPage_userControl_userCount {
    display: inline-block;
    font-size: 30px;
}

#mainPage_gotoUserControl_content {
    width: 100%;
    height: calc(100% - 60px);
}

#mainPage_gotoUserControl_content > div:nth-child(1) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45%;
}

#mainPage_gotoUserControl_content > div:nth-child(2) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55%;
}

#mainPage_createGame_startTime, #mainPage_createGame_endTime {
    font-size: 20px;
}

#mainPage_gotoBooth_wrapper > div:nth-child(2) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - 60px);
}

#mainPage_latelyAddBooth_1, #mainPage_latelyAddBooth_2, #mainPage_latelyAddBooth_3, #mainPage_latelyAddBooth_4 {
    border-bottom: 1px solid #707070;
    width: 80%;
    height: 15%;
    color: #4b6584;
    text-align: right;
    font-size: 17px;
}

#mainPage_gotoSituration_wrapper > div:nth-child(2) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 60px);
}

#mainPage_gotoSituration_boothName {
    border-radius: 50px;
    width: 45%;
    height: 60px;
    background-color: #8fe198;
    color: #4b6584;
    font-size: 30px;
    text-align: center;
}

#mainPage_gotoResult_wrapper > div:nth-child(2) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: #ffe18f;
    color: white;
    font-size: 25px;
    text-align: center;
}

#mainPage_gotoResult_wrapper > div:nth-child(2) > div > p {
    display: inline-block;
}